export(aggFun)
export(balCol)
export(blank2Missing)
export(changeLevels)
export(changeUmlaute)
export(cleanFun)
export(cutFiles)
export(cutWhite)
export(fact2Date)
export(fact2Num)
export(geoCoding)
export(img2Black)
export(isMW)
export(isWhite)
export(makeCanvas)
export(mergeShape)
export(newestFile)
export(ocrTesseract)
export(plotLetters)
export(plotMap)
export(rankFun)
export(rotLetter)
export(rotateAndCombine)
export(rotationFun)
export(sepLetter)
export(sharpenImage)
export(textFun)
