export(balCol)
export(cutWhite)
export(img2Black)
export(isMW)
export(isWhite)
export(makeCanvas)
export(mergeShape)
export(ocrTesseract)
export(plotLetters)
export(plotMap)
export(rotLetter)
export(rotateAndCombine)
export(rotationFun)
export(sepLetter)
export(sharpenImage)
